.title{
    color: teal;
    text-align: center;
}

.inputbox{
    padding:10px;
    border-radius: 5px;
    margin-left: 45%;
}
img{
    width:30%;
    height: 100%;
    margin-left: 35%
}
.save{
    padding:9px;
    font-size: 16px;
    border-radius: 5px;
}
#lists{
    text-align:center;
    font-size : 20px
}